<div class="row">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Code</th>
      <th>Dept. Name</th>
    </tr>
  </thead>
  <tbody>
    <% @departments.each do |dept| %>
    <tr>
      <td><%= dept.department_code %></td>
      <td><%= dept.department_name %></td>
    </tr>
    <% end %>
  </tbody>
</table
</div>
