<ul class="nav nav-pills nav-stacked nav-tree" data-toggle="nav-tree">
  <li>
    <%= link_to "Branches", branches_path %>
    <ul class="nav nav-pills nav-stacked nav-tree">
      <li><%= link_to "New branch", new_branch_path %></li>
    </ul>
    <%= link_to "Users", employees_path %>
    <ul class="nav nav-pills nav-stacked nav-tree">
      <li><%= link_to "New user", new_employee_path %></li>
    </ul>
  </li>
</ul>
